<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans"  
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
            xmlns:aop="http://www.springframework.org/schema/aop"  
            xmlns:p="http://www.springframework.org/schema/p"  
            xmlns:tx="http://www.springframework.org/schema/tx"  
            xmlns:context="http://www.springframework.org/schema/context"  
            xsi:schemaLocation="   
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context.xsd">  


		<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="password" value="usowwegybobbdggj"></property>
			<property name="host" value="smtp.qq.com"></property>
			<property name="protocol" value="smtp"></property>
			<property name="username" value="1850050537@qq.com"></property>
		</bean>

		<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
			<property name="from" value="1850050537@qq.com"></property>
			<property name="subject" value="标题内容为爱放款"/>
		</bean>


</beans>